---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

ul.img-list {
 list-style-type: none;
 margin: 0;
 padding: 0;
 text-align: center;
}

ul.img-list li {
 display: inline-block;
 height: auto;
 margin: 0 1em 1em 0;
 position: relative;
 width: 720px;
}



span.text-content span {
 display: table-cell;
 text-align: center;
 vertical-align: middle;
}



ul.img-list li:hover span.text-content {
 opacity: 1;
}

span.text-content {
 background: rgba(0,0,0,0.5);
 color: white;
 cursor: pointer;
 display: table;
 height: 400px;
 left: 0;
 position: absolute;
 top: 0;
 width: 720px;
 opacity: 0;
 -webkit-transition: opacity 1.5s;
 -moz-transition: opacity 1.5s;
 -o-transition: opacity 1.5s;
 transition: opacity 1.5s;
}





html {
 font-size: 100%;
}

body {
	background-image: url("http://wallpapercave.com/wp/phisfJx.jpg");
 background-repeat: no-repeat;
 background-attachment: fixed;

 font: 18px/1.4 $helvetica;
 color: $white;
}

.container {
 margin: 0 auto;
 max-width: 720px;
 padding: 0 10px;
 width: 100%;
	background-color: rgba(5,4,2,0.4);
}

table, td {
 border: 2px solid black;
 border-collapse: collapse;
 padding: 15px;
 background-color: $ocean;
	opacity: 1.0;
}
